/* Textbox */

.textbox {
  /* border: solid 1px black; */
  /* padding-left: 24px;
    padding-right: 24px; */
}

.title {
  font-size: 21px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.6;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 0px;
  margin-top: var(--xs);
}
.subtitle {
  margin-bottom: var(--xs);
  margin-top: 0px;
  color: var(--font-light);
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: left;
}
.text {
  color: var(--font-light);
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 2;
  letter-spacing: 0px;
  text-align: left;
  margin: 14px 0px;
}
.CTA-text {
  margin-top: 0px;
  margin-bottom: 14px;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 0px;
  text-align: left;
}


/* Background colors */

.has-primary {
  background-color: var(--primary);
}
.has-secondary {
  background-color: var(--secondary);
}
.has-blue {
  background-color: var(--blue);
}
.has-red {
  background-color: var(--red);
}
.has-green {
  background-color: var(--green);
}
.has-yellow {
  background-color: var(--yellow);
}
.has-black {
  background-color: var(--black);
}
.has-white {
  background-color: var(--white);
}
.has-grey{
  background-color: var(--grey);
}
.has-dark-grey{
  background-color: var(--font-lighter);
}

/* colors,font colors */

.is-blue {
  color: var(--blue);
}
.is-red {
  color: var(--red);
}
.is-green {
  color: var(--green);
}
.is-dark {
  color: var(--font-dark);
}
.is-medium {
  color: var(--font-light);
}
.is-black {
  color: var(--black);
}
.is-white {
  color: var(--white);
}

/* shadow */

.shadow {
  box-shadow: rgba(0, 0, 0, 0.15) 0px 5px 15px 0px;
}
.li-shadow {
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}


